body {
  background-color: #171717;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
}

.navbar {
  margin-bottom: 4%;
  padding: 1% 2%;
  text-align: center;
}

.navbar-brand {
  border-style: solid;
  border-color: white;
  padding: 5px;
}

.nav-item {
  padding: 20px;
}

.description {
  margin: 0 10% 7% 10%;
}

.motto {
  margin: 7% 0 7%;
}

.fa-arrow-right {
  margin-left: 3px;
}

.content {
  background-image: url("../images/photo1.png");
  background-size: 80%;
  background-repeat: no-repeat;
  padding: 30%;
  position: relative;
}

.example-photo {
  width: 80%;
  margin: auto 0 auto 14%;
  display: block;
}

.author {
  position: absolute;
  margin: 20% 30% 0 0;
  background-color: #171717;
}

.author-image {
  float: left;
  border-radius: 100%;
  width: 50px;
  margin: 3%;
}

.author-name {
  margin-top: 3%;
  font-size: 1rem;
}

.author-title {
  font-size: 0.75rem;
}

.copyright {
  clear: left;
  margin: auto 3%;
  font-size: 1.5rem;
}

.footer {
  margin-top: 15%;
  text-align: center;
}

.username {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .footer {
    margin-top: 20%;
  }
}

@media (max-width: 767px) {
  .footer {
    margin-top: 25%;
  }

  .content {
    background-size: 100%;
    padding: 40%;
  }

  .author {
    margin: 20% 15% 0 0;
  }
}
